# Unity 生成的缓存
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

!/Assets/StreamingAssets/.gitkeep
/ProjectSettings/ProjectVersion.txt
/Packages/*
/UnityPackageManager/*
*.log

# Rider / VS / VSCode 工程文件
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# Crash、内存快照
*.stacktrace
*.memory
*.memsnap

# 打包文件
*.apk
*.aab
*.unitypackage
UserSettings/Layouts/default-2022.dwlt
